/* Table as defined by the theme */
/*
table {
    border: 1px solid #CCC;
    width: 100%;
}
thead th,
th {
    background: #f7f7f7;
    border-bottom: 1px solid #ccc;
    color: #333;
}
td,
th {
    padding: 4px 8px;
    vertical-align: middle;
}
th a,
th a:link,
th a:visited {
    text-decoration: none;
}
th a {
    display: block;
}
th a img {
    margin: 0 0 0 5px;
}
th.active {
    background: #DDD;
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
}
tr.even td {
    background: #F1F5FA;
}
tr.odd td {
    background: #fff;
}
td.active {
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
}
tr.even td.active {
    background: #e5e9ed;
}
tr.odd td.active {
    background: #f2f2f2;
}
tr:hover td,
tr.even:hover td.active,
tr.odd:hover td.active {
    background: #FFFEEE;
}
td ul.links {
    margin-bottom: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
table {
    border: 0;
    border-top: 3px double #BBBDBF;
}
table p {
    margin: 0;
    line-height: 1.3em;
}
tr:hover td,
tr.even:hover td.active,
tr.odd:hover td.active {
    background: #F9F9F9;
}
td,
th {
    vertical-align: top;
    padding: 10px;
}
tr {
    border-bottom: 1px solid #eee;
}
*/




/* ECE Changes */
table {border:0 dotted #fff; margin:.5em auto; border-collapse:collapse; }
table caption {font-weight:bold; padding:.5em; font-size:90%;}
th, td {
padding:.25em .5em;
border:0;
background-color: inherit;
}

/* Table's header and footer */
thead tr th, tfoot tr td { border:0px solid #9DB3D1; background-color:#C0DAFF;}
thead tr th { border-bottom-width:1px; color:#036;}
tfoot tr td { border-top-width:1px; color:#046;}

/* resetting p tag style in table contents */
table p { padding: 0px 0px; margin: 0px;}

/* Zebra style for moder browsers */
tr:nth-child(even) {
  background-color:#E0EAF8;
}

/* Full row hover */
tr:nth-child(even):hover, tr:hover {
  background-color:#F0F0F0;  
/*#E0EAF8*/
}
thead tr:hover, tfoot tr:hover {background-color:transparent;} 
/* for th out of header and td */
tr.odd td {
  background-color:#E0EAF8;
}
th {
font-weight: bold;
background-color:#C0DAFF;
}

td p, th p {
border: 0px;
padding: 0px;
margin:0px;
font-size: 80%;
}

/* Bordered table */
table.bordered { border:1px solid #9DB3D1;}
table.bordered th, table.bordered td, .bordered table th, .bordered table td { border:1px solid #C0CFE2;}

/* Image for header in introduction/description area */
.header4Intro {width:588px; margin:-7px 0 5px 0;}
.header4Intro img {border:0; margin:0; padding:0;}

td.leftborder { border-left:1px solid #000; }
td.rightborder{ border-right:1px solid #000; }
td.topborder { border-top:1px solid #000; }
td.bottomborder { border-bottom:1px solid #000; }

td.country_info table th { background-color:#AABFE6; }
td.country_info table th p:hover { background-color:transparent; }
td.country_info table td { background-color:#D8E1F3; }
td.country_info table td p:hover { background-color:transparent; }

/* Special style for long table with FPs contacts */
table.contact { border:0;}
table.contact td { vertical-align:top; padding:.5em .25em; }
table.contact td p { margin-bottom:.5em;}
table.contact td p img { float:none !important;}
table tr td table { width:100% !important;  }

/* Trade Programme Styles */
.trade td { padding:0px; vertical-align:top; }
.trade td img { margin:0px; }


/* Transport Programmes styles */

.VR td p:hover, .trans td p:hover { background-color:#fff; }
.VR th p:hover, .trnas th p:hover { background-color:#fff; }
.VR .vr_table th p:hover { background-color:#C0DAFF; }
.VR .vr_table tr.odd td p:hover { background-color:#E0EAF8; }
.VR p, .trans p  { line-height:20px; }
.VR .vr_head p, .vr_head { font-weight:bold;text-align:center; }
.VR .vr_head_note p { color:#f00; font-weight:bold; font-style:italic; }
.VR .vr_note p, .trans .trans_note p  { color:#f00; }
.VR span.vr_note, .VR span.style1, .VR span.style2, .trans span.style1  { color:#f00; }
.VR  tr:nth-child(even), .trans  tr:nth-child(even) { background-color:#FFFFFF; }
.VR tr:nth-child(even):hover, .trans tr:nth-child(even):hover, .VR tr:hover, .trans tr:hover { background-color:#FFFFFF !important; }
.VR div.vr_table table { border:1px; }
/* .VR h5.txtRed { color:#000000; } */

.dg_table td { border-right:1px solid #000; border-bottom:1px solid #000; }
.dg_table tr.last_row td { border-bottom:0px none; }
.dg_table td.last_column { border-right:0px none; }
.dg_table .dg_table_heading td { background-color:#FFA500; color:#000080; }

.trans td.adr_country table td { background-color: #FFCC99; border-color: #CC9933; border-style: outset; border-width: 1px 0; vertical-align: top; }
.trans td.adr_country table td.bold {  background-color: #FF9933; border-color: #CC9933; border-style: outset; border-width: 1px 0; vertical-align: top; }
.trans td.adr_country table td p { padding: 2px 0px !important; }
.trans table th p:hover { background-color:transparent; }
.trans table td p:hover { background-color:transparent; }
.trans #pictograms table td { padding:0px; }
.trans .dg_table .dg_table_heading td p:hover { background-color:transparent; }
.trans .background_E2F1FF td p:hover { background-color:transparent; }
.trans td.background_304F8E p:hover { background-color:transparent; }
.trans tr.background_CCCCFF { background-color:#CCCCFF; color:#253B74; }
.trans tr.background_CCCCFF p:hover { background-color:transparent; }
.trans tr.background_B3B3FF p:hover { background-color:transparent; }
.trans td.background_D5D2FF p:hover { background-color:transparent; }
.trans td.background_F5F4FF p:hover { background-color:transparent; }
.trans tr.background_B3B3FF { background-color:#B3B3FF !important; }
.trans td.background_D5D2FF{ background-color:#D5D2FF !important; }
.trans td.background_F5F4FF{ background-color:#F5F4FF !important; }