/* Executive Secretary Blog on the Homepage */

.front #section-content .block-view-executive-secretary-blog.grid-5 {
    margin-left:20px;
    width:340px;
    margin-top:0;
}

.front #section-content .block-view-executive-secretary-blog {
    overflow:visible;
    position:relative;
}

.front #section-content .block-view-executive-secretary-blog .block-inner {
    background:url(./images/bg-red.png) #AD4B40;
    padding-bottom:8px;
    padding-top:28px;
}

.front #section-content .block-view-executive-secretary-blog .block-inner h2.block-title {
    border-bottom:medium none;
    float:none;
    margin-bottom:0;
    margin-left:.7em;
    margin-top:-24px;
    padding-bottom:2px;
    padding-left:25px;
    background:url(./images/bg-block-title-blog.png) no-repeat bottom left transparent;
    font-size:13px;
    font-weight:normal;
}

.front #section-content .block-view-executive-secretary-blog .block-inner #cheetah {
    background-image:url(./images/es-blog-bg-hp.png);
    background-position:right bottom;
    background-repeat:no-repeat;
    height:137px;
    position:absolute;
    right:-53px;
    bottom:7px;
    width:110px;
}

.front #section-content .block-view-executive-secretary-blog .block-inner h2.block-title a {
    border-bottom:none;
    color:#E4C4C4;
    color:#fff;
}

.front #section-content .block-view-executive-secretary-blog .block-inner h2.block-title a:hover {
    -webkit-opacity:0.7;
    -moz-opacity:0.7;
    opacity:0.7;
    -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    filter:alpha(opacity=70);
}

.front #section-content .block-view-executive-secretary-blog .block-inner h2.block-title a span {
    display:block;
    font-size:16px;
    color:#fff;
    font-weight:bold;
}

.front #section-content .block-view-executive-secretary-blog .block-inner .view-executive-secretary-blog-posts {
    width:95%;
}

.front #section-content .block-view-executive-secretary-blog .block-inner .content {
    border-top:medium none;
    margin-left:-20px;
    width:415px;
}

.front #section-content .block-view-executive-secretary-blog .views-field-field-esblog-post-publishng-date {
    background-color:#474747;
    color:white;
    font-size:14px;
    font-weight:normal;
    padding:4px 20px;
}

.front #section-content .block-view-executive-secretary-blog .views-field-field-esblog-post-publishng-date .views-label {
    display:inline-block;
    font-size:12px;
    text-transform:uppercase;
}

.front #section-content .block-view-executive-secretary-blog .views-field-field-esblog-post-publishng-date .views-label:before {
    font-size:14px;
    content:"\00E9 ";
    font-family:Sosa;
    font-style:normal;
    vertical-align:middle;
    text-transform:lowercase;
    font-weight:normal;
}

.front #section-content .block-view-executive-secretary-blog .views-field-field-esblog-post-publishng-date .field-content {
    display:inline-block;
    font-size:12px;
    text-transform:uppercase;
}

.front #section-content .block-view-executive-secretary-blog .views-field-title {
    font-family:Georgia;
    font-size:15px;
    line-height:110%;
    padding:15px 100px 15px 20px;
    background-color:#fff;
    font-style:italic;
}

.front #section-content .block-view-executive-secretary-blog .views-field-title:hover {
    background-color:#F7F6F5;
}