/* to show External links */
#content a[href^="http"] {
        padding-right: 14px;
        background: transparent url(./images/externalink.gif) no-repeat center right;
    }
/* Not to mix with internal links */
#content a[href^="http://www.unece.org"]:after, a[href^="http://unece.org"]:after {
    content: ""; 
    }

/* avoid tagging internal links */
#content a [href^="http://staging.unece"], #content a[href^="http://www.unece"], #content a[href^="http://unece.org"] {
padding-right: 0px;
background-image: none;
}

a.more:after { content:" \00BB ";}
a[href^="mailto:"] {
   padding-right: 18px;
   background: transparent url(./images/icons/mailto.gif) no-repeat center right;
   padding-top:1px;
   padding-bottom:2px;
}
a[href *='.pdf'], a[href *='.PDF']  { 
   padding-right: 18px;
   background: transparent url(./images/icons/page_white_acrobat.gif) no-repeat center right;
   padding-top:1px;
   padding-bottom:1px;
}
a[href *='.doc'], a[href *='.docx'], a[href *='.rtf'] { 
   padding-right: 18px;
   background: transparent url(./images/icons/page_white_word.gif) no-repeat center right;
   padding-top:1px;
   padding-bottom:1px;
}
a[href *='.xls'], a[href *='.xlsx'] { 
   padding-right: 18px;
   background: transparent url(./images/icons/page_white_excel.gif) no-repeat center right;
   padding-top:1px;
   padding-bottom:1px;
}
a[href *='.ppt'], a[href *='.pptx'] { 
   padding-right: 18px;
   background: transparent  url(./images/icons/page_white_powerpoint.gif) no-repeat center right;
   padding-top:1px;
   padding-bottom:1px;
}
a[href *='.zip']  { 
   padding-right: 18px;
   background: transparent url(./images/icons/page_white_compressed.gif) no-repeat center right;
   padding-top:1px;
   padding-bottom:1px;
}
a[href *='.wpd'], a[href *='.wpf'] {
    padding-right: 18px;
    background: transparent url(./images/icons/page_white_wpd.gif) no-repeat center right;
    padding-top:1px;
    padding-bottom:1px;
} 
a[href *='.wmv'], a[href *='.wav']{
    padding-right: 18px;
    background: transparent url(./images/icons/page_white_wmv.gif) no-repeat center right;
    padding-top:1px;
    padding-bottom:1px;
} 
a[href *='.pdf'] > img, a[href *='.doc'] > img, a[href *='.docx'] > img, a[href *='.xls'] > img, a[href *='.xlsx'] > img, a[href *='.ppt'] > img, a[href *='.pptx'] > img, a[href *='.zip'] > img, a[href *='.wpd'] > img, a[href *='.wpf'] > img, a[href *='.wmv'] > img, a[href *='.wav'] > img { margin-right:-18px; position:relative; top:3px; background:none; z-index:900;}
