/* Plugin Overrides */

body.front #ytContainer {
    width: 645px;
    border: none;
    padding: 0;
}

body.front #ytContainer div.ytGrid div.videoContainer {
    float: left;
    border: solid 1px #617C8C;
    width: 190px;
    height: 243px;
    margin: 0 40px;
    padding: 10px;
}

#meetings_list h4, #publications_list h4, #plugin-results-list h4
{
    color: #036;
    padding: 5px;
    font-size: 1.2em;
    margin: 5px 0px 0px -20px;
}
#publications_list .list_year, #plugin-results-list .list_year
{
    background-color: #C1DAFE;
    font-weight: bold;
    text-align: center;
}
#publications_list table td, #plugin-results-list table td
{
    padding: 5px;
    vertical-align: top;
}
#meetings_list table td a, #publications_list table td a, #plugin-results-list table td a
{
    font-weight: bold;
    text-decoration: none;
}
#meetings_list, #publications_list, #plugin-results-list
{
    clear: left;
    padding-left: 20px;
}
#meetings_list table, #publications_list table, #plugin-results-list table
{
    margin: 10px 0px;
    width: 97%;
}

.tx-unecemeetingsfrontend-pi1 h1.meetingTitle {
font-size: 120%;
}

#publications_list img {
margin: 0px 5px;
}

.tx-unecemeetingsfrontend-pi1 #meetingItems p
{
background: #E0EAF8 url(/typo3conf/ext/mepversion5/image/rquot_big.gif) no-repeat scroll 4px 7px;
padding-left: 16px;
font-weight: normal;
font-size: 13px;
padding: 4px 20px;
}

.tx-unecemeetingsfrontend-pi1 #meetingItems h1 {
font-size: 95%;
}

.tx-felogin-pi1 {
margin: 0px;
border: 1px solid #d2e2ff;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
border-top-left-radius: 0;
border-top-right-radius: 0;
}
.tx-felogin-pi1 div,
.tx-felogin-pi1 form {
padding : 5px;
}
.tx-felogin-pi1 h3 {
background-color: #2E64A4;
margin: 0px;
padding: .25em .5em;
color: #fff;
}

