.storytellingContent .header .iconsContainer {
  min-height: 170px;
  margin: 45px 0 20px; }
  .storytellingContent .header .iconsContainer a,
  .storytellingContent .header .iconsContainer a:hover,
  .storytellingContent .header .iconsContainer span {
    text-decoration: none !important; }
  .storytellingContent .header .iconsContainer .iconContainer {
    -webkit-transition: opacity 0.1s ease-out;
    -moz-transition: opacity 0.1s ease-out;
    -ms-transition: opacity 0.1s ease-out;
    transition: opacity 0.1s ease-out;
    display: inline-block;
    width: 90px;
    margin: 0 3px;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    line-height: 100%; }
    .storytellingContent .header .iconsContainer .iconContainer span {
      margin: 10px 0 0;
      display: block;
      -webkit-transition: margin 0.3s ease-out;
      -moz-transition: margin 0.3s ease-out;
      -ms-transition: margin 0.3s ease-out;
      transition: margin 0.3s ease-out; }
    .storytellingContent .header .iconsContainer .iconContainer .icon {
      -webkit-transform: scale(1, 1);
      -moz-transform: scale(1, 1);
      transform: scale(1, 1);
      -webkit-transition: all 0.3s ease-out;
      -moz-transition: all 0.3s ease-out;
      -ms-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;
      -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
      -ms-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
      border-radius: 15px;
      overflow: hidden; }
      .storytellingContent .header .iconsContainer .iconContainer .icon img {
        margin: 0;
        width: 100%;
        height: auto; }
  .storytellingContent .header .iconsContainer .iconContainer:hover .icon {
    -webkit-transform: scale(1.6, 1.6);
    -moz-transform: scale(1.6, 1.6);
    transform: scale(1.6, 1.6);
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    opacity: 1;
    z-index: 999; }
  .storytellingContent .header .iconsContainer .iconContainer:hover span {
    margin: 35px 0 0; }
.storytellingContent .header .separator {
  height: 80px;
  position: relative; }
  .storytellingContent .header .separator .triangle {
    -webkit-transition: left 0.6s ease-out;
    -moz-transition: left 0.6s ease-out;
    -ms-transition: left 0.6s ease-out;
    transition: left 0.6s ease-out;
    position: absolute;
    top: 0;
    left: 0;
    width: 90px;
    display: block; }
    .storytellingContent .header .separator .triangle img {
      display: block;
      margin: 0 auto; }
  .storytellingContent .header .separator .gradiant {
    position: absolute;
    top: 15px;
    height: 50px;
    width: 100%;
    background: #f7f6f4;
    background: -moz-linear-gradient(top, #f7f6f4 0%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f6f4), color-stop(100%, #ffffff));
    background: -webkit-linear-gradient(top, #f7f6f4 0%, #ffffff 100%);
    background: -o-linear-gradient(top, #f7f6f4 0%, #ffffff 100%);
    background: -ms-linear-gradient(top, #f7f6f4 0%, #ffffff 100%);
    background: linear-gradient(to bottom, #f7f6f4 0%, #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$grey', endColorstr='#ffffff',GradientType=0 ); }
.storytellingContent .article p {
  margin: 30px 0; }
.storytellingContent .article h2 {
  border: none;
  margin-bottom: 80px; }
  .storytellingContent .article h2 span {
    display: block; }
  .storytellingContent .article h2 span:first-child {
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase; }
  .storytellingContent .article h2 span:last-child {
    font-size: 36px;
    font-weight: 400;
    line-height: 110%; }
.storytellingContent .article .row .imageRight {
  float: right; }
.storytellingContent .article .row .imageLeft {
  float: left; }
.storytellingContent .article .row .imageCenter {
  display: block;
  margin: 0 auto; }
.storytellingContent .article .row:after {
  clear: both;
  content: "";
  display: block; }
.storytellingContent .rappel {
  padding-bottom: 45px; }
  .storytellingContent .rappel > div:first-child {
    height: 80px;
    width: 100%;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #f7f6f4 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f7f6f4));
    background: -webkit-linear-gradient(top, #ffffff 0%, #f7f6f4 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #f7f6f4 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #f7f6f4 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #f7f6f4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='$grey',GradientType=0 ); }
  .storytellingContent .rappel h3 {
    display: block;
    text-align: center;
    margin: 40px 0;
    font-size: 22px; }
  .storytellingContent .rappel .selected {
    opacity: 0.2;
    cursor: default !important; }
  .storytellingContent .rappel .selected:hover {
    opacity: 0.2 !important; }
    .storytellingContent .rappel .selected:hover .icon {
      -webkit-transform: scale(1, 1) !important;
      -moz-transform: scale(1, 1) !important;
      transform: scale(1, 1) !important;
      -webkit-transition: all 0.4s ease-out;
      -moz-transition: all 0.4s ease-out;
      -ms-transition: all 0.4s ease-out;
      transition: all 0.4s ease-out;
      z-index: 999; }
    .storytellingContent .rappel .selected:hover span {
      margin: 10px 0 0 !important; }

.montre {
  opacity: 1 !important; }

.cache {
  opacity: 0.2; }

.food h2,
.food > span {
  color: #cd8413; }

.car h2,
.car > span {
  color: #e52f2b; }

.forest h2,
.forest > span {
  color: #2a672c; }

.aging h2,
.aging > span {
  color: #911947; }

.air h2,
.air > span {
  color: #00a5ce; }

.house h2,
.house > span {
  color: #02a854; }

.cmm h2,
.cmm > span {
  color: #765f41; }
